.companies {
    width: 100%;
    min-width: 100%;
    background-color: #F5F1EC;
}

.contentCompanies {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
}

/* 

.globoplay {
    width: 20%;
    height: 5%;
    margin: 0;
}


.gigaglob {
    width: 20%;
    height: 5%;
    margin: 0;
}

.megapix {
    width: 20%;
    height: 5%;
    margin: 0;
}

.telecine {
    width: 20%;
    height: 5%;
    margin: 0;
}

.sexhot {
    width: 20%;
    height: 5%;
    margin: 0;
}

.cartola {
    width: 20%;
    height: 5%;
    margin: 0;
}

.immub {
    width: 20%;
    min-height:15%;
    margin: 0;
}

.gshow {
    width: 20%;
    min-height:15%;
    margin: 0;
}

.v4 {
    width: 20%;
    min-height:15%;
    margin: 0;
}

.programa_miles {
    width: 20%;
    min-height:15%;
    margin: 0;
} */

.bannerteste{
    background-size: cover;
    width: 100%;
}



@media (max-width:768px){

    .contentCompanies {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
    }

    /* .globoplay,  .telecine, .megapix, .gigaglob {
        min-width: 50%;
        background-size: cover;

        background-size: cover;
        margin: 0;

      
    
        vertical-align: top;
        align-items: start;
        align-self: flex-start;
        background-size: cover;
    }

    .sexhot{
        min-width: 50%;

        
        vertical-align: top;
        align-items: start;
        align-self: flex-start;
        background-size: cover;

        background-repeat: repeat-y;
    }

    .cartola{
        background-color: red;
        min-width: 50%;
        vertical-align: top;
        align-items: start;
        align-self: flex-start;
        background-repeat: repeat-x;


    }

     .immub, .v4, .programa_miles{
        min-width:50%;

        
        vertical-align: top;
        align-items: start;
        align-self: flex-start;
        background-size: cover;
    }

    .gshow{
        margin-top: -150px;
        min-width:50%;
        background-size: cover;
    } */

   
    
}
/* 
@media (max-width:425px){

    .contentCompanies {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
    }

    .globoplay, .cartola, .sexhot, .telecine, .megapix, .gigaglob {
        width: 40%;
        max-height: 15%;
        margin: 0;
    }

   
    
} */