.companies {
    width: 100%;
    min-width: 100%;
    background-color: #F5F1EC;
}

.contentCompanies {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
}




.globoplay {
    width: 20%;
    height: 5%;
    margin: 0;
}


.gigaglob {
    width: 20%;
    height: 5%;
    margin: 0;
}

.megapix {
    width: 20%;
    height: 5%;
    margin: 0;
}

.telecine {
    width: 20%;
    height: 5%;
    margin: 0;
}

.sexhot {
    width: 20%;
    height: 5%;
    margin: 0;
}

.cartola {
    width: 20%;
    height: 5%;
    margin: 0;
}

.immub {
    width: 20%;
    min-height:15%;
    margin: 0;
}

.gshow {
    width: 20%;
    min-height:15%;
    margin: 0;
}

.v4 {
    width: 20%;
    min-height:15%;
    margin: 0;
}

.programa_miles {
    width: 20%;
    min-height:15%;
    margin: 0;
}



@media (max-width:768px){

    .contentCompanies {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
        /* flex-direction: column-reverse; */
    }

    .globoplay, .cartola, .sexhot, .telecine, .megapix, .gigaglob {
        width: 50%;
        max-height: 35%;
        margin: 0;
    }

   
    
}
/* 
@media (max-width:425px){

    .contentCompanies {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
    }

    .globoplay, .cartola, .sexhot, .telecine, .megapix, .gigaglob {
        width: 40%;
        max-height: 15%;
        margin: 0;
    }

   
    
} */