
.darkModeItems{
	display: block;
	position: absolute;
	right: 15px;
	bottom: 7.2rem;
	bottom: 10px;
	font-size: 3.3rem;
}

.darkModeItems ul{
	list-style: none;
}

.darkModeItems ul li{
	margin: 1rem 0;
	border: none;
	width: 4rem;
	height: 4rem;
	border-radius: 10%;
}

.darkModeItems ul li:hover{
	border:2px solid #ffffff;
	cursor: pointer;
}

.darkModeItems ul li:nth-child(1) {
	background-color: #cc005f;
}

.darkModeItems ul li:nth-child(2) {
	background-color: red;
}

.darkModeItems ul li:nth-child(3) {
	background-color: blue;
}

.darkModeItems ul li:nth-child(4) {
	background-color: purple;
}

