.skills {
    width: 100%;
    min-width: 100%;
    padding: 5rem 0;
    background-color: #F5F1EC;

    position: relative;
    z-index: 0;

}

.icon1 {
    position: absolute;
    z-index: 999999999999999;
    right: 10%;
    bottom: 12%;
    min-height: 30vh;
}

.icon2 {
    position: absolute;
    z-index: 999999999999999;
    left: 15%;
    bottom: 0;
}


.skills h1 {
    font-family: "poppins-semibold", serif;
    font-size: 3.6rem;
    color: #313131;
    line-height: 1.25;
    margin-bottom: 1.2rem;
    text-align: center;
}


.skills h5 {
    color: #FF0077;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.skills-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.skill {
    min-height: 35vh;
    min-width: 20vw;
    max-width: 25vw;
    background-color: rgb(250, 250, 250);
    margin: 1rem;
    border-bottom: 1px solid blue;
    overflow: hidden;
    padding: 30px 30px;
    background: #fff;
    border-radius: 10px;
}

.dflexSkill {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dflexSkill h1 {
    font-family: "poppins-medium", sans-serif;
    font-size: 3rem;
    color: rgb(45, 40, 40);
    margin-top: 3rem;
    font-family: "poppins-semibold", serif;
    font-size: 3.6rem;
    color: #313131;
}

.dflexSkill p {
    font-size: 1.6rem;
    color: #313131;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:768px) {
    .skills {
        display: none;
    }
}