.skills {
    width: 100%;
    min-width: 100%;
    padding: 5rem 0;
    background-color: #F5F1EC;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.icon1 {
    position: absolute;
    z-index: 999999999999999;
    right: 10%;
    bottom: 12%;
    height: 50vh;
}


@keyframes icon1 {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-50px);
    }
}

.icon1{
	animation: icon1 2s infinite alternate;
}

/* .icon2 {
    position: absolute;
    z-index: 999999999999999;
    left: 15%;
    bottom: 0;
} */

.skills h1 {
    font-family: "poppins-semibold", serif;
    font-size: 3.6rem;
    color: #313131;
    line-height: 1.25;
    margin-bottom: 1.2rem;
    text-align: center;
}

.skills h5 {
    color: #FF0077;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.skills-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    min-height: 35vh;
    min-width: 20vw;
    max-width: 25vw;
    background-color: rgb(250, 250, 250);
    margin: 1rem;
    border-bottom: 3px solid blue;
    overflow: hidden;
    background: #fff;
    border-radius: 25px 5px;


    opacity: 80%;
}

.skill:hover{
    opacity: 100%;

    background: rgb(241, 238, 238);

    background-color: #F5F1EC;



}

.dflexSkill {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 30px 30px; */

}

.dflexSkill h1 {
    font-family: "poppins-medium", sans-serif;
    font-size: 3rem;
    color: rgb(45, 40, 40);
    margin-top: 3rem;
    font-family: "poppins-semibold", serif;
    font-size: 4rem;
    color: #313131;

    text-align: left;
    padding: 10px 30px;

}

.dflexSkill p {
    font-size: 1.6rem;
    color: #313131;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 0px 30px;



}

@media (max-width:768px) {
    .skills {
        display: none;
    }
}

img {
    padding: 0;
    /* background-color: red; */
    margin: 0;
}